.pokemon {
    border-radius: 20px;
    padding:20px;
    margin: 5px;
    text-align: center;
    transition: transform 250ms;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.pokemon:hover {
    transform: translateY(-5px);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.pokemon .img-container {
    background-color: rgb(255, 242, 242);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.5) inset;
}

.pokemon .img-container img {
    margin-top: 20px;
    height: 100px;
    width: auto;
}

.pokemon .name {
    color: rgb(78, 73, 85);
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .id {
    background-color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 5px 10px;
}
