.page {
    position: absolute;
    right: 0;
    left: 0;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding:20px;
    text-align: center;
    display: inline-block;
    color: rgb(48, 47, 59);
}


.page .description  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .description p {
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 10px;
    max-width: 400px;
}

.page .pokemon-data {
    display: flex;
    grid-gap: 1em;
    grid-auto-flow: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@media screen and ( max-width: 1200px ) { 
    .page .pokemon-data { flex-direction: column; }
  }

.page .pokemon-img-container {
    display: inline-block;
    border-radius: 50%;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5) inset;
    margin-right: 25px;
}

.page .pokemon-img-container img{
    height: auto;
    width: 250px;
}

.page .info {
    display: inline-block;
}

.page .stats-row span {
    margin: 20px;
}

.cards-container img {
    margin: 5px;
    width: auto;
    height: 300px;
}

.page .evolutions {
    display: flex;
    grid-gap: 1em;
    grid-auto-flow: row;
    margin-left: 30px;
    margin-bottom: 15px;
}

.page .img-and-stats {
    display: flex;
    grid-gap: 1em;
    grid-auto-flow: row;
    align-content: center;
    align-items: center;
}

@media screen and ( max-width: 700px ) { 
    .page .img-and-stats { flex-direction: column; margin-left: 0px;}

  }

.page .evolutions img {
    height: auto;
    width: 125px;  
}
@media screen and ( max-width: 500px ) { 
    .page .evolutions { flex-direction: column; }
    .page .pokemon-img-container { margin-right: 0;}
    .page .evolutions {margin-left: 0;}
    .page .evolutions img {width: 150px; height: auto;}
  }

.page .evolutions .stage-img {
    transition: transform 250ms; 
    border-radius: 50%;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5) inset;
}

.page .evolutions .stage-img:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1) inset;
}


.page table {
    backdrop-filter: blur(5px);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    border-collapse: collapse;
    overflow: hidden;
    margin-bottom: 15px;
}

.page td {
    padding: 15px;
}

.page th {
    padding-left: 15px;
}

.page tr:nth-of-type(even){
    background-color: rgba(255,255,255,0.3);
}
