.page {
    background-color: rgb(255, 189, 143);
    border-radius: 20px;
    padding:20px;
    margin: 10px;
    text-align: center;
}

.page .pokemon {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-flow: row;
}

@media screen and ( max-width: 500px ) { 
    .page .pokemon { flex-direction: column; }
  }



.page .stats-container {
    margin: 10px;
}

.page .pokemon-img-container img{
    height: auto;
    width: 150px;
}

.page .info {
    display: inline-block;
}


.page .stats-row {
    margin: 10px;
}

.page .stats-row span {
    margin: 20px;
}

.cards-container img {
    margin: 5px;
    width: auto;
    height: 300px;
}