.page {
    border-radius: 20px;
    padding:20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    color: rgb(48, 47, 59);
}

.page .pokemon-data {
    display: inline-flex;
    grid-gap: 1em;
    grid-auto-flow: row;
    align-content: center;
    align-items: center;
}

@media screen and ( max-width: 500px ) { 
    .page .pokemon-data { flex-direction: column; }
  }

.page .stats-container {
    margin: 10px;
}

.page .pokemon-img-container {
    display: inline-block;
}

.page .pokemon-img-container img{
    height: auto;
    width: 250px;
}

.page .info {
    display: inline-block;
}


.page .stats-row {
    margin: 10px;
}

.page .stats-row span {
    margin: 20px;
}

.cards-container img {
    margin: 5px;
    width: auto;
    height: 300px;
}

.page .evolutions {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-flow: row;
}

@media screen and ( max-width: 500px ) { 
    .page .evolutions { flex-direction: column; }
  }

.page .evolutions .stage-img {
    transition: transform 250ms; 
}

.page .evolutions .stage-img:hover {
    transform: translateY(-10px);
}

.page .evolutions img {
    height: 100px;
    width: auto;  
}

.page table {
    background-color: rgba(255,255,255,0.3);
    border-radius: 25px;
    border-collapse: collapse;
    overflow: hidden;
}

.page td {
    padding: 15px;
}

.page th {
    padding-left: 15px;
}

.page tr:nth-of-type(even){
    background-color: rgba(255,255,255,0.3);
}